*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-size: 18px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/34715621-8434-4866-af38-4df473d385de/d91yvy3-618feb4c-e760-40cb-aaf1-282b297b0b1c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM0NzE1NjIxLTg0MzQtNDg2Ni1hZjM4LTRkZjQ3M2QzODVkZVwvZDkxeXZ5My02MThmZWI0Yy1lNzYwLTQwY2ItYWFmMS0yODJiMjk3YjBiMWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.G5tEBR821xu0XBQRjXTMhmyvHGWalfrV_hhgq7h9NKQ")
  }
  #title{
    text-align:center;
    padding: 9px;
    margin: 4px;
  }
 
  #description{
    text-align:center;
  }
  .survey-form{
    text-align: center;
    width: 50%;
   background-color:  lightblue;
   margin-top: 10px;
   margin-bottom: 5px;
   padding-top: 40px;
   display:inline-block;
 
  }
  .survey-form label{
    flex-direction: none;
    justify-content: flex-end;
    text-align:center;
    width: 620px;
    line-height: 15px;
    margin-bottom: 1px;
    display: block-flexbox;
  }
  input{
      margin-bottom: 18px;
      display:inline-block;
  }
  label{
      line-height: 20px;
      margin: 20px;
      padding-right: 10px;
  }
  .role{
    padding: 10px;
    margin-top: 15px;
  }
  #dropdown{
    color: gray;
    display: block;
    margin-left: 350px;
    margin-top: 10px;
  }
  .area{
    width: 150px;
    padding-left: 300px;
  }
  #ab{
      text-align: center;
  }
  #radio{
      padding-top: 15px;
      display: block;
      margin: 5px;
      text-align: center;
  }
